<div class="header">
    <nav class="navbar navbar-site navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button"> <i class="fa fa-shopping-cart"></i> <span id="noi">(3)</span> </button>
                <button class="navbar-toggle" type="button"> Login </button>
                <button class="navbar-toggle" type="button"> Signup </button>
                <a href="index.php" class="navbar-brand logo logo-title">
                    <span class="logo-icon"> <img src="{echo CDN}images/frudorLogo.png" height="50px"> </span> 
                </a> 
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Signup</a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i>My cart <span id="noi">(3)</span></a></li>
                    <li><i class="icon-location-2 icon-append"></i>
                        <input type="text" maxlength="6" name="city" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="Your Zipcode" value="" required></li>
                    <li><button type="button" class="btn btn-default btn-search" id="btn-search"><i class="icon-search"></i></button></li>
                </ul>
            </div>
              <!--<div class="intro">
              <div class="row search-row animated fadeInUp">
                    <div class="search-col">
                        
                    </div>
              </div>
            </div>-->
        </div>
    </nav>
</div>