<div class="header">
    <nav class="navbar navbar-site navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button"> <i class="fa fa-shopping-cart"></i> <span id="noi">(3)</span> </button>
                <button class="navbar-toggle" type="button"> Login </button>
                <button class="navbar-toggle" type="button"> Signup </button>
                <a href="index.php" class="navbar-brand logo logo-title">
                    <span class="logo-icon"> <img src="{echo CDN}images/frudorLogo.png" height="50px"> </span> 
                </a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Signup</a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i>My cart <span id="noi">(3)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>