body{
	font-family: Verdana !important;
}
.navbar-site {
  height: 60px !important;
}

.intro {
  height: 140px !important;
  margin-top: 60px !important;
  margin-bottom: 0 !important;
}
@media (min-width:786px)
{
.navbar-right
  {
    margin-top: 10px !important;
  }
}
@media (max-width: 767px)
{
  .intro {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-site {
      min-height: 60px;
  }
  .navbar-site .navbar-toggle
  {
    margin: 10px !important;/*Could be LETHAL in some devices*/
  }
  .navbar-header
  {
    border-bottom: none;
  }
  .search-row
  {
    width: 70% !important;
  }
}
.search-row {
  margin-top: 0 !important;
  width: 50%;
}

.dtable-cell {
  display: list-item;
}

.navbar-brand {
  margin: 0;
  padding: 4px 10px;
}

.navbar-right>li:nth-child(2){border-right: 1px solid gray}

.navbar-nav>li>a
{
  font-size: 1.4em;
  padding: 10px !important;
}

#autocomplete-ajax:focus
{
  border: 2px solid lightGreen;
}