
.navbar-site {
  height: 60px !important;
}

.container {
  
}

.intro {
  height: 140px !important;
  margin-top: 60px !important;
  margin-bottom: 0 !important;
}
@media (max-width: 767px)
{
  .intro {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-site {
      min-height: 60px;
  }
  .navbar-site .navbar-toggle
  {
    margin: 10px !important;/*Could be LETHAL in some devices*/
  }
  .navbar-header
  {
    border-bottom: none;
  }
  .search-row
  {
    width: 70% !important;
  }
}
.search-row {
  margin-top: 0 !important;
  width: 50%;
}

.dtable-cell {
  display: list-item;
}